.hero {
  height: 60rem;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;

  &__text {
    margin-top: 4rem;
    text-align: center;
    color: $color-white;
    text-shadow: 1px 1px 2px rgba($color-black, 0.6);
  }

  &__cta {
    display: flex;
    justify-content: center;
    height: 100%;
    .cta-button {
      align-self: flex-end;
      margin-bottom: 6rem;
    }
  }
}

@media only screen and (max-width: $media-query-mobile) {
  .hero {
    height: 45rem;
  }
}
