.hero {
  height: 60rem;
  background-size: cover;
  background-position: center;
  position: relative;

  &__text {
    margin-top: 4rem;
    text-align: center;
    color: $color-white;
    text-shadow: 1px 1px 1px rgba($color-black, 0.6);
  }

  &__cta {
    position: absolute;
    bottom: 6rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: $media-query-mobile) {
  .hero {
    height: 45rem;
  }
}
