header {
  height: 7rem;
  background-color: $color-red;
  position: fixed;
  width: 100%;
  z-index: 999;

  .logo {
    height: 40px;
    color: $color-white;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
  }

  .nav-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    a {
      font-size: 1.6rem;
      color: $color-white;
      text-decoration: none;
    }
    li {
      list-style-type: none;
    }
  }
}
