header {
  height: 7rem;
  background-color: $color-red;
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 1px 2px #20202090;

  .logo {
    color: $color-white;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
  }

  .nav-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    a {
      font-size: $font-size-h4;
      color: $color-white;
      text-decoration: none;
    }
    li {
      list-style-type: none;
    }
  }
}

@media only screen and (max-width: $media-query-mobile) {
  header {
    height: 5.2rem;
    .logo {
      font-size: $font-size-h3;
    }
  }
}
