header {
  height: 7rem;
  background-color: $color-red;
  position: fixed;
  width: 100%;
  z-index: 999;

  .logo {
    height: 40px;
    color: $color-white;
    font-size: 3rem;
    font-weight: $font-weight-bold;
  }
}
