.cta-button {
  display: block;
  padding: 0.8rem 3rem;
  font-size: $font-size-h3;
  border: 2px solid $color-red;
  color: $color-red;
  background-color: $color-white;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
  background-position: 0 0;
  text-align: center;
  max-width: 26rem;

  &:hover {
    transform: scale(1.04);
    box-shadow: 2px 2px 2px rgba($color-black, 0.1);
    background-position: 0 100%;
    color: $color-white;
    background-color: $color-red;
  }
}

@media only screen and (max-width: $media-query-mobile) {
  .cta-button {
    padding: 0.8rem 2rem;
    font-size: $font-size-h3;
    max-width: 20rem;
  }
}
