.fp-ice-sheet-image {
  height: 72rem;
  background-size: cover;
  background-position: bottom;
  cursor: default;

  h2 {
    color: $color-white;
    font-size: $font-size-h1;
    text-align: center;
    text-shadow: 1px 1px 2px rgba($color-black, 0.6);
  }
}

.teaser-block {
  height: 31.5rem;

  &__text {
    text-align: center;

    h2 {
      margin-bottom: 0.8rem;
    }

    p {
      letter-spacing: 1px;
    }
  }

  .cta-button {
    margin: auto;
  }

  &__image {
    background-size: cover;
    background-position: center;

    transition: all 1.5s;

    &:hover {
      transform: scale(1.04);
      z-index: 1;
      background-position: top;
    }
  }
}

.split-block {
  &__text {
    h2 {
      font-size: $font-size-h2;
      margin-bottom: 1.3rem;
    }

    p {
      font-size: $font-size-p;
      font-weight: $font-weight-regular;
      line-height: 1.3;
      letter-spacing: 0.5px;
      margin-top: 2rem;
    }
  }

  &__image {
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
  }
  &__preview-grid {
    display: grid;
    row-gap: 0;
    column-gap: 0;
  }
}

// Tours overview page
.tour-wrapper {
  border-bottom: 1px solid $color-black;

  &:last-of-type {
    border-bottom: none;
  }
}

// Mobile
@media only screen and (max-width: $media-query-mobile) {
  //Front page tour teaser blocks
  .teaser-block {
    display: grid;
    height: initial;

    &__text {
      padding-top: 3rem;
      padding-bottom: 4rem;
    }

    &__image {
      grid-row: 1;
      height: 20rem;
    }
  }

  //Front page ice sheet image
  .fp-ice-sheet-image {
    height: 50rem;
  }

  // Tour page
  .tour-intro {
    display: grid;
    .split-block {
      &__image {
        grid-row: 1;
      }
    }
  }

  // Tours page block
  .tour-wrapper {
    display: grid;
  }
  .split-block {
    &__preview-grid {
      grid-row: 1;
    }
    &__text {
      padding-top: 3rem;
      padding-bottom: 5rem;
      h2 {
        margin-bottom: 0rem;
      }
      p {
        margin-top: 1rem;
      }
    }
  }
}
