.fp-ice-sheet-image {
  height: 72rem;
  background-size: cover;
  background-position: bottom;
  cursor: default;

  h2 {
    color: $color-icesheet-blue;
    font-size: 5rem;
    text-align: center;
  }
}

.teaser-block {
  height: 31.5rem;

  &__text {
    text-align: center;

    h2 {
      font-size: 3.2rem;
      margin-bottom: 1.3rem;
    }

    p {
      font-size: 1.8rem;
      font-weight: $font-weight-medium;
      letter-spacing: 1px;
    }
  }

  &__image {
    background-size: cover;
    background-position: center;

    transition: all 1.5s;

    &:hover {
      transform: scale(1.04);
      z-index: 1;
      background-position: top;
    }
  }
}

.split-block {
  &__text {
    h2 {
      font-size: 3.2rem;
      margin-bottom: 1.3rem;
    }

    p {
      font-size: 1.8rem;
      font-weight: $font-weight-regular;
      line-height: 1.3;
      letter-spacing: 0.5px;
      margin-top: 2rem;
    }
  }

  &__image {
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
  }
  &__preview-grid {
    display: grid;
    row-gap: 0;
    column-gap: 0;
  }
}

.tour-wrapper {
  border-bottom: 1px solid $black;

  &:last-of-type {
    border-bottom: none;
  }
}
