// Bootstrap Grid
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~/assets/styles/helping-classes.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.cta-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: $font-weight-black;
  color: $color-red;
}

// Font sizes
h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
p {
  font-size: $font-size-p;
}

main {
  padding-top: 7rem;
}
