// Colors
$color-white: #fff;
$color-black: #202020;
$color-red: #e45a5a;
$color-yellow: #fdd850;
$color-icesheet-blue: #bbf3ff;

// Font weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// Font sizes
$font-size-h1: clamp(2.8rem, 4vw, 5rem);
$font-size-h2: clamp(2.2rem, 4vw, 3.2rem);
$font-size-h3: clamp(1.8rem, 4vw, 2.5rem);
$font-size-h4: clamp(1.5rem, 4vw, 2.2rem);
$font-size-p: clamp(1.3rem, 4vw, 1.8rem);

// Media query sizes
$media-query-mobile: 990px;
