.contact-cta {
  height: 50rem;
  background-size: cover;
  background-position: 50% 80%;
  position: relative;
  transition: all 2s;

  &:hover {
    transform: scale(1.04);
  }

  &__text {
    margin-top: 17rem;
    text-align: center;
    font-size: 3rem;
    color: $color-red;
    //text-shadow: 0px 1px 3px rgba($color-black, 0.2);
  }

  &__cta {
    margin-top: 1.4rem;
  }
}
