.contact-cta {
  height: 50rem;
  background-size: cover;
  background-position: 50% 80%;
  position: relative;

  &__text {
    margin-top: 17rem;
    text-align: center;
    font-size: $font-size-h2;
    color: $color-red;
  }

  &__cta {
    margin-top: 1.4rem;
  }
}
